
                 <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title">Confirmación de pago</div>
                            </div>
                            <div class="modal-body">
                                <div class="centered-content">
                                    <div class="contextual-banner modal-banner full-text">
                                        <img class="icon icon-info" src="../../assets/images/ic_import.png">
                                        <div class="modal-message">
                                            <div class="modal-text-bottom-space">En estos momentos usted se dispone a cancelar</div>
                                            <div><strong>N° planilla</strong><span class="modal-text-general">19780397</span></div>
                                            <div><strong>Período de cotización</strong><span class="modal-text-general">2017-07-09</span></div>
                                            <div><strong>Período de salud</strong><span class="modal-text-general">2017-07-09</span></div>
                                            <div><strong>Valor</strong><span class="modal-text-general">$288.200</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center modal-message">
                                    <div class="modal-text-general modal-text-bottom-space">En caso de observar alguna inconsistencia, cancele la operación de pago y realice los ajustes respectivos.</div>
                                    <div class="modal-text-alert"><strong>¡Recuerde!</strong> que es su responsabilidad verificar la información que reporta a través de la planilla integrada liquidación de aportes.</div>

                                </div>
                            </div>
                        </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-link" data-dismiss="modal" (click)="close()">Cancelar</button>
                                <button type="button" class="btn btn-primary"    (click)="confirm()" >continuar</button>
                            </div>
                        </div>
                    </div>
