
<header>
    <app-menu>
    </app-menu>
</header>

<main id="pantalla">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <strong>Transacción</strong> aprobada
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="centered-content">
                        <div class="contextual-banner full-text">
                            <img class="icon icon-info" src="../../assets/images/ic_check.png">
                            <span class="message">
                                Su planilla ha sido enviada y pagada con éxito. Por favor guarde este comprobante como soporte del envío y pago de su planilla.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="card card-template">
                        <h2 class="card-title card-template-title">
                            <strong>Información</strong>
                            <div class="card-template-number">
                                <div class="card-template-number-value">PAGADO</div>
                            </div>
                        </h2>
                        <div class="card-content">
                            <div class="aditional-info">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Nit de comercio operador de información</label>
                                            <div class="text-muted payment-text-muted">
                                                900089104-5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Razón social del operador de infromación</label>
                                            <div class="text-muted payment-text-muted">
                                                ARUS (antes Enlace Operativo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <div class="text-muted payment-text-muted">
                                                Pago de Seguridad Social
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <div class="text-muted payment-text-muted">
                                              {{ plantillapagar.fechatrans}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Hora</label>
                                            <div class="text-muted payment-text-muted">
                                              {{ plantillapagar.horatrans}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Período de cotización otros riesgos</label>
                                            <div class="text-muted payment-text-muted">
                                                {{ plantillapagar.perido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Período de cotización para salud</label>
                                            <div class="text-muted payment-text-muted">
                                                  {{ plantillapagar.perido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <div class="text-muted payment-text-muted">
                                              {{ plantillapagar.tipo}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <div class="text-muted payment-text-muted">
                                                {{ documento}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre aportante</label>
                                            <div class="text-muted payment-text-muted">
                                                {{ nombre}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Dirección IP de origen</label>
                                            <div class="text-muted payment-text-muted">
                                                pruebas.suaporte.com.co
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="section-title">
                                            <strong>Datos</strong> Valores pagados
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Administradora</th>
                                                <th>Valor <br class="visible-xs">sin mora</th>
                                                <th>Valor <br class="visible-xs">mora</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>COLFONDOS</td>
                                                <td class="table-numbers">$160.000</td>
                                                <td class="table-numbers">$1.000</td>
                                                <td class="table-numbers">$161.000</td>
                                            </tr>
                                            <tr>
                                                <td>CAFESALUD EPS</td>
                                                <td class="table-numbers">$125.000</td>
                                                <td class="table-numbers">$1.400</td>
                                                <td class="table-numbers">$126.400</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="subtotals-title">
                                    <strong>Subtotales </strong>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Valor sin mora</label>
                                            <div class="text-muted payment-text-muted">
                                                $285.000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Valor mora</label>
                                            <div class="text-muted payment-text-muted">
                                                $3.200
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="card card-template">
                                            <div class="card-title icon-text">
                                                <img class="icon-right-spaced icon icon-info" src="../../assets/images/ic-info-simple.png">
                                                <div class="content">
                                                    <span>Referencia de pago / N° planilla</span><br>
                                                    <strong>  {{ plantillapagar.nro}}</strong>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>Tipo de planilla</label>
                                                            <div class="text-muted payment-text-muted">
                                                                {{ plantillapagar.tipo}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>Número transacción bancaria / CUS</label>
                                                            <div class="text-muted payment-text-muted">
                                                                276678229
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>Banco</label>
                                                            <div class="text-muted payment-text-muted">
                                                                {{ plantillapagar.banco}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>Total pagado</label>
                                                            <div class="text-muted payment-text-muted">
                                                                $ 288.200.00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="total-transaction-status-container">
                                                <h3 class="transaction-title">Estado de la transacción</h3>
                                                <div class="transaction-value">APROBADA</div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="card-actions">
                    <div class="col-xs-12">
                        <button class="btn btn-lg btn-link pull-right" (click)="download()">
                <img src="../../assets/images/ic_download.png" alt="Icono descargar comprobante"  class="icon icon-right-spaced"/>Descargar  comprobante de pago</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
<app-footer></app-footer>
