<header>
    <app-menu>
    </app-menu>
</header>

<main id="pantalla">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12">
                  <div class="card card-template">
                      <h2 class="card-title card-template-title">
                          <strong>Pago</strong> de aportes
                          <div class="card-template-number">
                              <div class="card-template-number-label">N° Planilla</div>
                              <div class="card-template-number-value">19780397</div>
                          </div>
                      </h2>
                      <div class="card-content">

                          <div class="centered-content">
                              <div class="contextual-banner full-text">
                                  <img class="icon icon-info" src="../../assets/images/ic_contextualmessages.png">
                                  <span class="message"> Los aportes a SENA e ICBF son liquidados de acuerdo a la exoneración seleccionada por el aportante.</span>
                              </div>
                          </div>

                          <div class="aditional-info">
                              <div class="row">
                                  <div class="col-xs-6">
                                      <div class="form-group">
                                          <label>Identificación</label>
                                          <div class="text-muted payment-text-muted">
                                              1017178054
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group">
                                          <label>Nombre aportante</label>
                                          <div class="text-muted payment-text-muted">
                                              Juan Camilo Buendía
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-xs-12">
                                      <div class="form-group">
                                          <label>Período de cotización</label>
                                          <div class="text-muted payment-text-muted">
                                              2017/07 Septiembre
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <div class="form-group">
                                          <label>Fecha reporte</label>
                                          <div class="text-muted payment-text-muted">
                                              2017/07/25
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group">
                                          <label>Hora</label>
                                          <div class="text-muted payment-text-muted">
                                              09:48:24 AM
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="centered-content">
                              <div class="contextual-banner-payment full-text">
                                  <img class="icon icon-info" src="../../assets/images/danger.png">
                                  <span class="cutoff-text"><strong class="cutoff-title">Fecha límite de pago</strong>
                                          <br>
                                          <div class="cutoff-day">7° día hábil &nbsp; <span class="cutoff-date">2017/07/12</span></div>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-8">
                      <div class="section-title">
                          <strong>Datos</strong> Valores a pagar
                      </div>
                  </div>
                  <div class="col-xs-4">
                      <a class="plus-detail">Ver más detalle</a>
                  </div>
              </div>

              <div class="card card-template">
                  <div class="card-content">
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered">
                              <thead>
                                  <tr>
                                      <th>Administradora</th>
                                      <th>Valor <br class="visible-xs">sin mora</th>
                                      <th>Valor <br class="visible-xs">mora</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>COLFONDOS</td>
                                      <td class="table-numbers">$160.000</td>
                                      <td class="table-numbers">$1.800</td>
                                      <td class="table-numbers">$161.000</td>
                                  </tr>
                                  <tr>
                                      <td>CAFESALUD EPS</td>
                                      <td class="table-numbers">$125.000</td>
                                      <td class="table-numbers">$1.400</td>
                                      <td class="table-numbers">$126.400</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="subtotals-title">
                          <strong>Subtotales </strong>
                      </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label>Valor sin mora</label>
                                      <div class="text-muted payment-text-muted">
                                          $285.000
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label>Valor mora</label>
                                      <div class="text-muted payment-text-muted">
                                          $3.200
                                      </div>
                                  </div>
                              </div>
                          </div>
                  </div>
                  <div class="total-payment-dates-container">
                      <div class="card-content">
                          <h3 class="payment-dates-title">Total a pagar &nbsp;
                              <span class="payment-dates-value">$ 288.200.00</span>
                          </h3>

                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-12">
                      <div class="section-title">
                          <strong>Método</strong> de pago
                      </div>
                  </div>
              </div>

              <div class="card card-template">
                  <div class="card-content">
                      <div class="centered-content">
                          <div class="contextual-banner full-text">
                              <img class="icon icon-info" src="../../assets/images/ic_contextualmessages.png">
                              <span class="message">Realiza el pago mediante el proveedor de servicios PSE. Horario de cierre para pagos electrónicos por PSE (ACH Colombia) 0:00pm - 0:00pm</span>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xs-12">
                              <div class="pse-status-content">
                                  <div class="pse-title">Estado actual <span class="pse-status">Disponible</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="container-form-group">
                              <form>
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <div class="form-group form-group-customized">
                                              <label for="usr" class="label-standard">Banco</label><span class="span-required-standard">*</span>
                                              <select class="form-control select-standard">
                                                  <option value="bank">Seleccionar banco</option>
                                                  <option >BancoColombia</option>
                                                  <option >Davivienda</option>
                                                  <option >Citibank</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                  </div>
              </div>

              <div class="row">
                  <div class="card-actions">
                      <div class="col-xs-6">
                          <button class="btn btn-lg btn-link" [routerLink]="['/landing']" >Cancelar</button>
                      </div>
                      <div class="col-xs-6">
                          <div class="pull-right">

                              <button class="btn btn-primary" (click)="showConfirm()" >Pagar por PSE</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>




</div>
  </main>
<app-footer></app-footer>
